EULA=false
MINECRAFT_VERSION=1.21.11
MINECRAFT_PORT=25565
EXTERNAL_PORT=8888
SERVER_NAME=MyMinecraftServer
MAX_PLAYERS=20
MEMORY_MIN=1024M
MEMORY_MAX=2048M
CPU_LIMIT=2
CPU_RESERVATION=1
MEMORY_LIMIT=3G
MEMORY_RESERVATION=2G
GAMEMODE=survival
DIFFICULTY=normal
PVP=true
SPAWN_PROTECTION=16
VIEW_DISTANCE=10
ONLINE_MODE=true
JAVA_OPTS=
TZ=Europe/Berlin
